@{
    @model Patriot.DomainModel.Contact.ContactCreateModel

}

<div class="header px-5">
    <div class="logo">
        <a href=""><img src="~/images/logo.JPG" /></a>
    </div>
</div>

<div class="container-fluid p-0">

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">

        <div class="carousel-inner">
            <div class="carousel-indicators m-0 justify-content-start position-absolute slider-indcators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
            </div>
            <div class="carousel-item active">
                <div class="container-fluid" style="position: relative;">
                    <div class="row align-items-center px-5">
                        <div class="col-lg-4">


                            <div class="hero-text mt-4">
                                <h1>Receive <br> your recievables</h1>
                                <p>Patriot International brings decades of experience, expertise and an analytical approach to excel in aged receivable collection.</p>
                            </div>

                        </div>
                        <div class="col-lg-7">
                            <img src="~/images/hero.png" alt="" class="w-100">
                        </div>
                        <div class="col-lg-4"></div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container-fluid">
                    <div class="row align-items-center px-5">
                        <div class="col-lg-4">

                            <!-- <div class="lines">
                                <div class="line line-red"></div>
                                <div class="line line-grey"></div>
                                <div class="line line-grey"></div>
                                <div class="line line-grey"></div>
                            </div>  -->

                            <div class="hero-text mt-4">
                                <h1>Be <br> Compensated Fully</h1>
                                <p>You’ve worked hard to get licensed and build and operate your practice.  You deserve to be compensated fully for your expertise and provision of services.</p>
                            </div>

                        </div>
                        <div class="col-lg-7">
                            <img src="~/images/Compensation 1.png" alt="" class="w-100">
                        </div>
                        <div class="col-lg-4"></div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container-fluid">
                    <div class="row align-items-center px-5">
                        <div class="col-lg-4">

                            <!-- <div class="lines">
                                <div class="line line-red"></div>
                                <div class="line line-grey"></div>
                                <div class="line line-grey"></div>
                                <div class="line line-grey"></div>
                            </div> -->

                            <div class="hero-text mt-4">
                                <h1>Infinite  <br> Benefits</h1>
                                <p>The additional revenue secured through Patriot International’s advanced approach can be used to fund practice growth or satisfy countless operational needs.</p>
                            </div>

                        </div>
                        <div class="col-lg-8">
                            <img src="~/images/revenue.png" alt="" class="w-100">
                        </div>
                        <div class="col-lg-4"></div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container-fluid">
                    <div class="row align-items-center px-5">
                        <div class="col-lg-4">

                            <!-- <div class="lines">
                                <div class="line line-red"></div>
                                <div class="line line-grey"></div>
                                <div class="line line-grey"></div>
                                <div class="line line-grey"></div>
                            </div> -->

                            <div class="hero-text mt-4">
                                <h1>Full-Scale <br> Attack</h1>
                                <p>Combining tech-based analytics with legal expertise and policy interpretation ensures that collection of your aged receivables is being achieved through all methods</p>
                            </div>

                        </div>
                        <div class="col-lg-8">
                            <img src="~/images/Attack 1.png" alt="" class="w-100">
                        </div>
                        <div class="col-lg-4"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button> -->
    </div>

    <div class="relative">
        <div class="container-fluid section1">
            <div class="row">
                <div class="col-lg-6 col-md-4 col-sm-1"></div>

                <div class="col-lg-6 col-md-8 col-sm-11">
                    <div class="row">
                        <div class="col-lg-6 col-md-10 col-sm-10">
                            <div class="section1-h1"><h1 class="fw-bold">Most healthcare practices fail to secure the maximum extent of their aged receivables.</h1></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-5 col-sm-6 mt-4">
                            <div class="section1-p"><p>Having an infinite number of hurdles at their disposal, carriers know that practices will regularly either “throw in the towel” on possible collection or simply forget to diligently follow-up.</p></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 col-md-5 col-sm-6"></div>
                        <div class="col-lg-4 col-md-5 col-sm-6">
                            <div class="section1-p1"><p>Consequently, most practices and providers are saddled with ever-increasing aged receivables that are never secured. This is precisely where Patriot International can help...pushing through the barriers preventing aged receivable collection. </p></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="relative-2">
        <div class="container-fluid section2">
            <div class="row">
                <div class="col-lg-2 col-sm-2">
                </div>

                <div class="col-lg-4 bg-white p-top px-4">
                    <div class="section2-text">
                        <h1 >
                            A unique combined  <br class="d-lg-block d-none" /> approach,
                            unlike <br class="d-lg-block d-none" /> any other in the <br class="d-lg-block d-none" />  industry,
                            ensuring  <br class="d-lg-block d-none" /> increased revenue <br class="d-lg-block d-none" /> and profits.
                        </h1>
                    </div>
                    @*<div class="w-50 section2-text pt-5">
                        <p>
                            Made up of legal and industry professionals, in tandem with tech experts, Patriot International uses an analytical approach to excel in aged receivable collections.
                        </p>
                    </div>*@
                </div>
            </div>

            <div class="row">
                <div class="col-lg-2 col-sm-2">
                </div>
                <div class="col-lg-4 col-sm-6 px-4 bg-white pt-5 clickp">
                    <div class="w-50 section2-text">
                        <p>
                            Made up of legal and industry professionals, in tandem with tech experts, Patriot International uses an analytical approach to excel in aged receivable collections.
                        </p>
                    </div>
                </div>

                <div class="col-lg-2 section2-text-s h-100" style="margin-bottom: 3px;">
                    <div>
                        <span>
                            Its legal and industry professionals analyze carriers’ policies and applicable law, using such analysis to craft legal arguments and defeat carriers at their own game.
                        </span>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="col-sm-10 offset-sm-1 vector-bg">
            <img src="~/images/vector-l.png" alt="Alternate Text" width="80" />
        </div>
    </div>

    <div class="section3">
        <div class="container-fluid pt-5">
            <div class="row vectors">
                <div class="col-lg-3 col-md-3">
                </div>
                <div class="col-lg-2 col-md-2 px-5 bg-vector">
                    <div>
                        <h4 class="heading4">
                            Manage deadlines
                            promptly.
                        </h4>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 px-5 bg-vector">
                    <div>
                        <h4 class="heading4">
                            Observe and
                            analyze patterns.
                        </h4>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 px-5 bg-vector">
                    <div>
                        <h4 class="heading4">
                            Account for plan terms & conditions.
                        </h4>
                    </div>
                </div>
            </div>
            <div class="inner-bg mt-5 pb-5">

                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6 mt-3 section3-text">
                        <div>
                            <h1>Enhanced aged revenue cycle  management by integrating technical effeciencies.</h1>
                        </div>
                    </div>
                </div>

                <div class="row my-5 ">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-5 px-5">
                        <div class="px-lg-5">
                            <p>The tech experts at Patriot International integrate automated efficiencies into the aged revenue cycle process, ensuring that deadlines are timely met, patterns are observed, and plan terms and conditions are taken into account.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 px-5">
                        <div>
                            <p>This allows Patriot International to excel in preventing aged receivables from falling through the cracks or becoming stale.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid ">
        <div class="section4">
            <div class="sction4">
                <div class="row justify-content-around">
                    <div class="col-lg-2 col-md-2 col-sm-10 col-10 mb-5">
                        <img src="~/images/Group 3634.png" alt="" class="w-lg-100 w-md-100">
                    </div>
                    <div class="col-lg-10 col-sm-10 col-11 mb-5">
                        <div class="row justify-content-between">
                            <div class="col-lg-9 col-sm-5 col-8 mb-5">
                                <div>
                                    <h1 class="heading1">Why<br> Patriot International?</h1>
                                </div>
                            </div>
                            <!-- <div class=" col-lg-3 col-sm-5 col-8 mb-5 mx-2 p-0"> -->
                            <div class="col-lg-3 col-md-5 col-sm-8 col-11 mb-5 section4-text-card1 p-0">
                                <div class="s4-clp bg-white">
                                    <h1 class="fw-bold">
                                        Increased <br class="d-sm-none d-none d-lg-block" /> revenue and profits
                                    </h1>
                                </div>
                            </div>
-                    </div>
                    <!-- <div class="col-lg-1"></div> -->
                </div>
                <div class="row justify-content-around mt-5">
                    <div class="col-lg-2 mb-5">
                    </div>
                    <div class="col-lg-10 col-sm-10 col-8 mb-5">
                        <div class="row justify-content-between">
                            <div class="col-lg-5 col-sm-8 col-11 mb-3 p-0 section4-text">
                                    <div class="px-5 pt-3 p-sm">
                                    <p>Aside from Patriot International’s one-of-a-kind strategic approach to aged receivables collection, your engagement of Patriot International’s experts will provide numerous benefits, regardless of whether you are in-network or out-of-network.</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-5 col-sm-8 col-11 section4-text-card p-0">
                                <div class="s4-clp bg-white">
                                    <h1 class="fw-bold">
                                        Greater
                                        financial stability
                                    </h1>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-5 col-sm-8 col-11 mt-md-1 section4-text-card p-0">
                                <div class="s4-clp bg-white">
                                    <h1 class="fw-bold">
                                        Enhanced
                                        compliance
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-lg-1"></div>321 -->
                </div>

                <div class="row justify-content-around my-5">
                    <div class="class col-lg-2">
                    </div>
                    <div class="col-lg-10 col-sm-10 col-8 mb-5">
                        <div class="row justify-content-between">
                            <div class="col-lg-1 mx-4">
                            </div>

                            <div class="class col-lg-3 col-md-5 col-sm-8 col-11 section4-text-card orange p-0">
                                <div class="s4-clp bg-white">
                                    <h1 class="fw-bold">Improved Patient satisfaction</h1>
                                </div>
                            </div>
                            <div class="class col-lg-3 col-md-5 col-sm-5 col-11 section4-text-card p-0">
                                <div class="s4-clp bg-white">
                                    <h1 class="fw-bold">Available capital for operational investment</h1>
                                </div>
                            </div>
                            <div class="class col-lg-3">
                            </div>
                        </div>
                    </div>


                </div>
            </div>

            

        </div>

            <div class="row justify-content-between align-items-end">
                <div class="col-lg-2 col-md-2 col-sm-2 col-2 p-0">
                    <img src="~/images/Rectangle 77.png" width="100%">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-3 text-center">
                    <h1 class="fw-bold heading4 mb-0">Affialiates</h1>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7 col-7 p-0">
                    <img src="~/images/Rectangle 45.png" width="100%">
                </div>
            </div>

        </div>


        <div class="section5 py-5">
            <div class="container-fluid p-4 px-lg-5">
                <div class="row my-5">
                    <div class="col-lg-2 col-md-3 col-sm-3 px-1">
                        <img src="~/images/Frame.png" class="w-75" alt="">
                    </div>
                    <div class="col-lg-10 col-md-9 col-sm-9 px-1">
                        <div class="row">
                            <div class="col-lg-5">
                                <h1 class="fw-bold heading4 font-s">The Patriot Group</h1>
                            </div>
                            <div class="col-lg-4">
                                <h6 class="fw-bold heading4">Phone no.</h6>
                                <h6 class="fw-bold heading4">631-870-4040</h6>
                            </div>
                            <div class="col-lg-3">
                                <h6 class="fw-bold heading4">Mail <br> info@patriotrevenue.com</h6>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-5">
                                <p class="pt-5 heading4  padding-r">Experts in revenue recovery, The Patriot Group’s strategic framework, creative workflows, and aggressive appeals has enabled The Patriot Group to excel in collection of current claims. </p>
                            </div>
                            <div class="col-lg-4">
                                <p class="pt-5 heading4">The Patriot Group works tirelessly to get every claim line billed and quickly paid at maximum reimbursement rates, regardless of network status. </p>
                            </div>

                        </div>

                    </div>
                    <!-- <div class="col-lg-3 col-md-3 col-sm-3 px-1">
                        <div class="">
                            <h1>The Patriot Group</h1>
                            <p class="pt-5">Experts in revenue recovery, The Patriot Group’s strategic framework, creative workflows, and aggressive appeals has enabled The Patriot Group to excel in collection of current claims. </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 px-1">
                        <div class="">
                            <h6>Phone no.</h6>
                            <h6> 0300 xxxxxxx</h6>
                            <p class="pt-5">The Patriot Group works tirelessly to get every claim line billed and quickly paid at maximum reimbursement rates, regardless of network status. </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 px-1">
                        <div class="">
                            <h6>Mail <br> info@patriotcompll.com</h6>
                        </div>
                    </div> -->
                </div>

                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2 px-1">
                        <img src="~/images/image 1.png" class="w-75" alt="">
                    </div>
                    <div class="col-lg-10 col-md-9 col-sm-9 px-1">
                        <div class="row">
                            <div class="col-lg-5">
                                <h1 class="heading4 font-s">The Force Law Firm</h1>
                            </div>
                            <div class="col-lg-4">
                                <h6 class="heading4">Phone no.</h6>
                                <h6 class="heading4">631-870-4041</h6>
                            </div>
                            <div class="col-lg-3">
                                <h6 class="heading4">Mail <br> info@patriotcompll.com</h6>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-5">
                                <p class="pt-5 heading4 padding-r">An experienced healthcare regulatory law firm, Force Law is available to defend you and your practice against audits, recoupments, and investigations,</p>
                            </div>
                            <div class="col-lg-4">
                                <p class="pt-5 heading4">as well as to provide training and guidance on various laws, rules, and regulations governing the healthcare industry, helping to make sure your practice is protected at every turn. </p>
                            </div>

                        </div>

                    </div>

                </div>

                <!-- <div class="row mt-5 pt-5">
                    <div class="col-lg-3">
                        <img src="~/images/image 1.png" alt="">
                    </div>
                    <div class="col-lg-3 p-0">
                        <div>
                            <h1>The Force Law Firm</h1>
                            <p class="pt-5">An experienced healthcare regulatory law firm, Force Law is available to defend you and your practice against audits, recoupments, and investigations,</p>
                        </div>
                    </div>
                    <div class="col-lg-3 mx-5">
                        <div class="">
                            <h6>Phone no. <br> 0300 xxxxxxx</h6>
                            <p class="pt-5">as well as to provide training and guidance on various laws, rules, and regulations governing the healthcare industry, helping to make sure your practice is protected at every turn. </p>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="">
                            <h6>Mail <br> info@patriotcompll.com</h6>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>


    </div>
    <div class="section6 p-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="fw-bold text-uppercase">Get In Touch <br> with us</h1>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-6">
                    <p class="">For questions, concerns, or to schedule an introductory call – please <br class="d-none d-lg-block" /> use the form. We look forward to speaking with you!</p>
                </div>
                <div class="col-lg-1">
                </div>
                <div class="col-lg-3 inputs ">
                    @using (Html.BeginForm("Index", "Home"))
                    {
                        <div>
                            <label>Your name:</label>
                            @Html.TextBoxFor(x=>x.FullName)
                            @Html.ValidationMessageFor(x=>x.FullName,"",new{@class="form-validate"})
                        </div>

                        <div>
                            <label>Email address:</label>
                            @Html.TextBoxFor(x=>x.Email)
                            @Html.ValidationMessageFor(x=>x.Email,"",new{@class="form-validate"})
                        </div>

                        <div>
                            <label>Phone number:</label>
                            @Html.TextBoxFor(x=>x.PhoneNumber)
                            @Html.ValidationMessageFor(x=>x.PhoneNumber,"",new{@class="form-validate"})
                        </div>

                        <div>
                            <label>Mesaage:</label>
                            @Html.TextAreaFor(x=>x.Message,5)
                            @Html.ValidationMessageFor(x=>x.Message,"",new{@class="form-validate"})
                        </div>

                        <div class="mt-3">
                            <button type="submit" class="float-end px-5     py-3 sbm">Submit</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="footer py-5">
        <div class="container-fluid py-5">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-lg-7">
                        </div>
                        <div class="col-lg-4">
                            <p class="fw-bold">
                                Quick Links
                            </p>
                        </div>
                    </div>
                </div>


            </div>

            <div class="row justify-content-center">
                <div class="col-lg-7 col-md-9 col-sm-11">
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1">
                            <p><i class="fa fa-phone"></i></p>
                        </div>
                        <div class="col-lg-6 col-md-3 col-sm-3">
                            <p>631-870-4040</p>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <p>Blog</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-7 col-md-9 col-sm-11">
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1">
                            <p><i class="fa fa-envelope"></i></p>
                        </div>
                        <div class="col-lg-6 col-md-3 col-sm-3">
                            <p>info@patriotrevenue.com</p>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <p>Location</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row justify-content-center">
                <div class="col-lg-7 col-md-9 col-sm-11 footer-border"></div>
            </div>


        </div>
    </div>
